.searchBtn{
  background-color:blue;
  color:#fff;
  height: 2.8em;
  border-radius: 2em;
  width:8em;
  margin-bottom: 2em;
}

.searchBox{
  height: 2em;
  margin-right: 1em;
  margin-bottom: 2em;
}

th{
   border: solid 2px black;
   padding: 1em;
}

.addPart{
  margin-top: 2em;
  height: 2em;
  margin-right: 1em;
  margin-bottom: 2em;
}